@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-scaleIn {
  animation: scaleIn 0.15s ease-out;
}
